{% extends 'base.html.twig' %}
{% block title "Mes Vidéos" %}
{% block body %}
    <div class="mb-6 px-10">
        <div class="grid grid-cols-1 lg:grid-cols-3 xl:grid-cols-4 gap-6">
            <!-- terminal -->
            {% include 'widgets/terminal.html.twig' %}
            <!-- fin terminal -->
            {% for cour in coursVideos %}

                {% include 'widgets/videocard.html.twig' %}

            {% endfor %}

            {% if admin %}
                <div>
                    {{ form(form) }}
                </div>
            {% endif %}

        </div>
    </div>
    <p class="text-center text-lg font-semibold text-white">Et d'autres directement <a class="text-yellow-500" href="https://www.youtube.com/channel/UCPzIex5v85_a3_HQy6ghulg">ma chaine</a></p>
    <script src="/js/terminal1.js">

    </script>
{% endblock %}