<footer class="relative bottom-0">
    <div class="h-44 lg:h-48 bg-wave-inv bg-no-repeat bg-cover transform translate-y-1">

    </div>
    <div class="bg-white p-3 text-center text-gray-700">
        <p class=""> Toujours en dev!!! </p>

        <p class="text-xl">&copy; 2021 Germain Sipière alias <span class="text-yellow-500">Peter6</span></p>

    </div>
</footer>

